.additional-product {
  outline: 3px solid rgba(255, 0, 0, 0.8);
  outline-offset: -1px;
  padding: 0 20px;
}

.additional-product__list {
  list-style: none;
  padding: 0;
}

.additional-product__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  position: relative;
  display: inline-block;
  background-color: @basic_white;
  padding-right: 22px;
  margin: 0;
}
