.additional-products__item {
  border-top: 1px solid @special_grey;
  border-bottom: 1px solid @special_grey;
}

.additional-products__product-name {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: @special_dark-grey-2;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.additional-products__description {
  font-family: @arial;
  line-height: 14px;
  width: 100%;

  td:nth-child(2n) {
    text-align: right;
  }
}

.additional-products__link-to-order {
  font-size: 16px;
  line-height: 20px;
}
