.additional-products__item {
  outline: 1px solid rgba(93, 127, 219, 0.815);
  outline-offset: -1px;
}

.additional-products__product-name {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: @special_dark-grey-2;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.additional-products__description {
  font-family: @arial;
  line-height: 14px;
  margin-bottom: 15px;
}

.additional-products__link-to-order {
  font-size: 16px;
  line-height: 20px;
}
