.advantages {
  outline: 3px solid rgba(255, 0, 0, 0.8);
  outline-offset: -1px;
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: inherit;
  color: @basic_black;
}

.advantages__list {
  list-style: none;
  font-family: @nimbus, @helvetica, @arial, sans-serif;
  padding-left: 0;
}

.advantages__item {
  padding-bottom: 20px;
}
