.button {
  display: block;
  background-color: @basic_green;
  text-decoration: none;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  color: @basic_white;
  cursor: pointer;
  border: none;

  &:hover,
  &:focus {
    background-color: @basic_green-2;
  }

  &:active {
    color: rgba(@special_grey, 0.3);
  }

  &--show-all {
    background-color: @basic_grey;
    color: inherit;
    font-size: 16px;
    line-height: 0;

    &:hover,
    &:focus {
      background-color: @special_grey-2;
    }

    &:active {
      color: rgba(@special_dark-grey, 0.3);
    }
  }
}
