.button {
  background-color: @basic_green;
  text-decoration: none;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  color: @basic_white;
  cursor: pointer;
  border: none;
}
