.button {
  display: block;
  background-color: @basic_green;
  text-decoration: none;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  color: @basic_white;
  cursor: pointer;
  border: none;
  padding-top: 7px;
  padding-bottom: 7px;
<<<<<<< HEAD

  @media (min-width: @tablet-width) {
    padding: 14px 0;
  }
=======
>>>>>>> 55e3c37 (Правки отступов, центрирование, доработка блоков example, map, page-footer)

  &--show-all {
    background-color: @basic_grey;
    color: inherit;
    font-size: 16px;
    line-height: 20px;
  }
}
