.catalog {
  outline: 3px solid rgba(255, 0, 0, 0.8);
  outline-offset: -1px;

  /*@media (min-width: @tablet-width) {}

  @media (min-width: @desktop-width) {}*/
}

.catalog__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @basic_black;
  margin: 0;
  padding: 27px 20px 41px 20px;
}

.catalog__list {
  list-style: none;
  padding: 0;
}
