.catalog-more-list {
  text-align: center;
}

.catalog-more-list__name {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @special_dark-grey-1;
  text-transform: uppercase;
  margin: 0;
}

.catalog-more-list__text {
  font-family: @arial;
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
  margin-bottom: 21px;
}
