.checkbox {
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;

  @media (min-width: @tablet-width) {
    padding-left: 59px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid @special_grey;
    top: 0;
    left: 0;
    cursor: pointer;
    box-sizing: border-box;

    @media (min-width: @tablet-width) {
      width: 40px;
      height: 40px;
    }
  }
}
