.example {
  outline: 3px solid rgba(255, 0, 0, 0.8);
  outline-offset: -1px;
  background-color: @basic_grey-add;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: inherit;
  color: @basic_black;
  padding-top: 27px;
}

.example__text {
  font-family: @arial;
}

.example__number {
  text-transform: uppercase;
  color: @basic_black;
  font-size: 24px;
  line-height: 24px;
}

.example__cost {
  text-transform: uppercase;
  color: @basic_black;
  line-height: 20px;
}

.example__button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: @basic_black;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
}

.example__toggle {
  width: 84px;
  height: 14px;
  background-color: @basic_white;
  border: 1px solid @special_grey;
  border-radius: 6px;
}

.example__description {
  font-family: @arial;
  font-size: 12px;
  line-height: 12px;
}
