.form__selection-wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &--border {
    @media (max-width: @mobile-width-only) {
      border-top: 1px solid @special_grey-9;
      border-bottom: 1px solid @special_grey-9;
      margin-bottom: 26px;
    }
  }
}

.form__list {
  list-style: none;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-left: 70px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }

  &--cat-data {
    padding-bottom: 10px;

    @media (min-width: @tablet-width) {
      padding-right: 67px;
      padding-bottom: 52px;
    }

    @media (min-width: @desktop-width) {
      padding-right: 0;
      padding-bottom: 50px;
    }

    & .form__item {
      padding-bottom: 14px;

      @media (min-width: @tablet-width) {
        padding-bottom: 20px;
      }
    }
  }

  &--radio {
    color: @special_dark-grey-2;
    padding-top: 22px;
    padding-bottom: 5px;

    @media (min-width: @tablet-width) {
      padding-left: 28px;
      padding-top: 25px;
      padding-bottom: 12px;
      margin-right: 67px;
      margin-bottom: 75px;
      margin-left: 71px;
      border: 1px solid @special_grey-7;
    }

    @media (min-width: @desktop-width) {
      margin-left: 0;
      margin-right: 110px;
      margin-bottom: 0;
      padding-left: 28px;
      padding-top: 24px;
      padding-bottom: 10px;
    }

    & .form__item {
      padding-bottom: 13px;

      @media (min-width: @tablet-width) {
        padding-bottom: 11px;
      }
    }
  }

  &--checkbox {
    color: @basic_black;
    padding-top: 35px;
    padding-bottom: 22px;

    @media (min-width: @tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 57px;
      padding-bottom: 22px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 30px;
      padding-top: 56px;
    }
  }

  &--contacts {
    padding-bottom: 9px;
    padding-top: 35px;

    & .form__label {
      margin-bottom: 9px;

      @media (min-width: @tablet-width) {
        margin-bottom: 4px;
      }
    }

    @media (min-width: @tablet-width) {
      padding-right: 65px;
      padding-bottom: 45px;
      padding-top: 76px;
    }

    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 78px;
      padding-right: 110px;
      padding-bottom: 46px;
    }

    & .form__item {
      padding-bottom: 14px;

      @media (min-width: @tablet-width) {
        padding-bottom: 20px;
      }
    }
  }
}

.form__item {
  display: flex;
  align-items: center;
  position: relative;

  &--checkbox {
    padding-bottom: 12px;

    @media (min-width: @tablet-width) {
      width: 48.5%;
      padding-bottom: 30px;
    }

    @media (min-width: @desktop-width) {
      width: 20%;
    }
  }
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--required {
    &::after {
      content: "*";
    }
  }
}

.form__subtitle {
  font-size: 24px;
  line-height: 26px;
  display: inline-block;
  position: relative;
  background-color: @basic_white;
  max-width: 206px;
  margin-left: 19px;
  padding-right: 22px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    max-width: none;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 40px;
    padding-left: 40px;
    margin-left: 70px;
  }
}

.form__textarea-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 38px;
  padding-bottom: 21px;

  @media (min-width: @tablet-width) {
    padding-left: 70px;
    padding-right: 67px;
    padding-top: 76px;
    padding-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 66px;
  }
}

.form__field {
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  text-transform: uppercase;
  border: 1px solid @special_grey-7;
  opacity: 1;
  width: 100%;
  box-sizing: border-box;
  margin-left: 15px;
  outline: none;
  height: 45px;


  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 19px;
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 52px;
  }

  &:hover {
    border-color: @special_grey;
  }

  &:focus {
    border-color: @special_dark-grey;
  }

  &:invalid {
    &:not(:placeholder-shown) {
      &:not(:focus),
      &:focus {
        border-color: @status_error;
      }
    }
  }

  &--icon-email {
    margin-left: 12px;
    padding-right: 38px;

    @media (min-width: @tablet-width) {
      margin-left: 18px;
      padding-left: 22px;
      padding-right: 40px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 20px;
      padding-left: 20px;
      padding-bottom: 8px;
      padding-top: 10px;
    }

    &:focus {
      +.form__icon-email {
        stroke: @basic_green;
      }
    }

    &:invalid {
      &:not(:placeholder-shown) {
        &:not(:focus),
        &:focus {
          +.form__icon-email {
            stroke: @status_error;
          }
        }
      }
    }
  }

  &--icon-phone {
    margin-left: 10px;
    padding-right: 38px;

    @media (min-width: @tablet-width) {
      margin-left: 14px;
      padding-right: 40px;
    }

    &:focus {
      +.form__icon-phone {
        fill: @basic_green;
      }
    }

    &:invalid {
      &:not(:placeholder-shown) {
        &:not(:focus),
        &:focus {
          +.form__icon-phone {
            fill: @status_error;
          }
        }
      }
    }
  }

  &--textarea {
    outline: none;
    padding-top: 9px;
    padding-right: 12px;
    padding-bottom: 0;
    padding-left: 15px;
    margin: 0;
    min-height: 150px;

    @media (min-width: @tablet-width) {
      min-height: 174px;
      padding-left: 19px;
    }
  }
}

.form__icon-email {
  width: 20px;
  height: 14px;
  position: absolute;
  right: 15px;
  stroke: @special_dark-grey-2;
  fill: none;

  @media (min-width: @tablet-width) {
    right: 19px;
  }
}

.form__icon-phone {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 14px;
  fill: @special_dark-grey-2;

  @media (min-width: @tablet-width) {
    right: 18px;
  }
}

.form__button-wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    padding-bottom: 71px;
    padding-left: 70px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 82px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.form__button-send {
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    width: 282px;
    height: 52px;
    margin-right: 61px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    margin-right: 81px;
  }
}

.form__note {
  font-family: @arial;
  line-height: 16px;
  color: @basic_black;
  text-align: center;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    align-self: center;
    padding-top: 0;
    padding-bottom: 5px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }

  &::before {
    content: "* ";
  }
}
