.form__fieldset {
  outline: 1px solid rgba(93, 127, 219, 0.815);
  outline-offset: -1px;
  border: none;
}

.form__list {
  list-style: none;
  padding: 0;
}

.form__item {
  label {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  input {
    font-size: 16px;
    line-height: 18px;
    font-family: inherit;
    text-transform: uppercase;
    border: 1px solid @special_grey;
  }
}

.form__field-textarea {
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  text-transform: uppercase;
  padding: 10px 19px;
  border: 1px solid @special_grey-7;
}

.form__subtitle {
  font-size: 24px;
  line-height: 26px;
}

.form__field {
  margin-bottom: 14px;
  padding: 13px 16px;
}

.form__note {
  font-family: @arial;
  line-height: 18px;
  color: @basic_black;
}

.form__input-radio {
  margin-bottom: 13px;
}

.form__input-checkbox {
  margin-bottom: 12px;
}

