.form-container {
  outline: 3px solid rgba(255, 0, 0, 0.8);
  outline-offset: -1px;
}

.form-container__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: inherit;
  color: @basic_black;
}

.form-container__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic_black;
}
