.gift {
  outline: 3px solid rgba(255, 0, 0, 0.8);
  outline-offset: -1px;
  background-image: url("../img/gift-photo-mobile.png");
  background-repeat: no-repeat;
  background-color: @basic_green;
  min-height: 289px;
  margin: 0 20px;
  background-size: 100%;
  background-position: center;
}

.gift__text {
  font-family: @arial;
  font-size: 16px;
  line-height: 20px;
  color: @basic_white;
  text-align: center;
  margin: 0 auto;
}
