.gift {
  position: relative;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.gift__wrapper {
  background-image: url("../img/green-bg/gift-photo-mobile.png");
  background-repeat: no-repeat;
  background-color: @basic_green;
  height: 289px;
  margin-top: 0;
  margin-bottom: 35px;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/green-bg/gift-photo-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/green-bg/gift-photo-tablet.png");
    height: 200px;
    margin-bottom: 76px;
    display: flex;
    justify-content: space-between;
    padding-left: 78px;
    padding-right: 124px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/green-bg/gift-photo-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    display: block;
    background-image: url("../img/green-bg/gift-photo-desktop.png");
    position: absolute;
    height: 289px;
    bottom: 85px;
    left: 75.3%;
    padding: 0;
    margin: 0;
    right: 110px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/green-bg/gift-photo-desktop@2x.png");
    }
  }
}

.gift__icon {
  padding-top: 57px;

  @media (min-width: @tablet-width) {
    padding-top: 58px;
  }
}

.gift__text {
  font-family: @arial;
  font-size: 16px;
  line-height: 20px;
  color: @basic_white;
  text-align: center;
  margin: 0;
  padding-top: 43px;

  @media (min-width: @tablet-width) {
    text-align: left;
    padding-top: 72px;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    padding-left: 0;
    padding-top: 44px;
  }
}
