.link-to-catalog-list {
  outline: 3px solid rgba(93, 127, 219, 0.815);
  outline-offset: -3px;
  background-color: @basic_grey;
}

.link-to-catalog-list__title {
  font-size: 24px;
  line-height: 37px;
  color: @basic_black;
  text-transform: uppercase;
  font-weight: inherit;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 52px;
  }
}

.link-to-catalog-list__text {
  font-family: @arial;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-left: 52px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 51px;
    color: @basic_black;
  }
}

.link-to-catalog-list__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @basic_black;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 52px;
  }
}
