.main-nav {
  @media (max-width: @mobile-width-only) {
    display: none;

    &--opened {
      display: block;
    }

    &--nojs {
      display: block;
    }
  }
}

.main-nav__list {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: @basic_black;
  text-transform: uppercase;
  list-style: none;
  padding-left: 0;
  text-align: center;
  cursor: pointer;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    min-width: 440px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    min-width: 480px;
    margin-top: 69px;
  }
}

.main-nav__list-item {
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid @special_almost-white;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    border-top: none;
  }

  a {
    color: @basic_black;
  }

  &--color {
    a {
      @media (min-width: @desktop-width) {
        color: @basic_white;
      }
    }
  }
}
