.map {
  outline: 3px solid rgba(255, 0, 0, 0.8);
  outline-offset: -1px;
}

.map__title {
  font-size: 16px;
  line-height: 18px;
  color: @special_dark-grey-1;
  text-transform: uppercase;
  padding-top: 28px;
}

.map__text {
  line-height: 20px;
  font-family: @arial;
}
