.map {
  outline: 3px solid rgba(255, 0, 0, 0.8);
  outline-offset: -1px;
}

.map__wrapper {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @desktop-width) {
    width: 570px;
    height: 201px;
  }
}

.map__title {
  font-size: 16px;
  line-height: 18px;
  font-weight: inherit;
  color: @special_dark-grey-1;
  text-transform: uppercase;
  width: 125px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 21px;
    width: 170px;
  }
}

.map__text {
  line-height: 20px;
  font-family: @arial;
  width: 140px;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
    width: 160px;

    br {
      display: inline;
    }

    span {
      padding-top: 10px;
    }
  }

  @media (min-width: @desktop-width) {
    text-align: start;
  }
}

.map__image {
  text-align: center;
}
