.map {
  outline: 3px solid rgba(255, 0, 0, 0.8);
  outline-offset: -1px;
  padding: 0 20px;
  margin: 0 auto;
}

.map__title {
  font-size: 16px;
  line-height: 18px;
  font-weight: inherit;
  color: @special_dark-grey-1;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 21px;
  }

}

.map__text {
  line-height: 20px;
  font-family: @arial;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.map__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: 170px 160px;
  }
}
