.page-footer {
  background-color: @basic_grey-add;
  margin: 0 auto;
  padding: 41px 20px 22px 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.page-footer__logo {
  align-self: center;
  padding-bottom: 29px;

  img {
    width: 128px;
    height: 24px;
  }
}

.page-footer__copyright {
  padding-top: 18px;
}
