.page {
  height: 100%;
  font-family: @oswald, @nimbus, @helvetica, @arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
}

.page__body {
  min-height: 100%;
  margin: 0;
}
