.page-header {
  display: flex;
  flex-direction: column;
  outline: 3px solid rgba(255, 0, 0, 0.8);
  outline-offset: -1px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1220px;
    margin: auto;
  }
}

.page-header__logo-cat {
  cursor: pointer;
}
