.page {
  height: 100%;
  font-family: @oswald;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  max-width: 320px;

  @media (min-width: @tablet-width) {
    max-width: 768px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1440px;
  }
}
