.page-footer {
  background-color: @basic_grey-add;
  margin: 0 auto;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 59px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 44px;
  }
}

.page-footer__logo {
  align-self: center;
  padding-bottom: 28px;

  img {
    width: 128px;
    height: 24px;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }
}

.page-footer__copyright {
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 6px;
  }
}
