.product__item {
  border-bottom: 1px solid @special_grey-2;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    position: relative;
    border: none;
    padding: 0 38px;
    background-color: @basic_grey;
    margin-top: 81px;
    min-height: 430px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 62px;
    padding-left: 38px;
    padding-right: 36px;
  }

  &--border {
    @media (min-width: @tablet-width) {
      background-color: @basic_white;
      border: 2px solid @basic_grey;
    }
  }
}

.product__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 112px;

  &--mobile {
    @media (max-width: @mobile-width-only) {
      grid-template-columns: 1fr;
      padding-bottom: 0;
      height: auto;
    }
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr;
    padding: 0;
    height: auto;
  }

  a {
    text-align: center;
  }
}

.product__image {
  img {
    height: 112px;

    @media (min-width: @tablet-width) {
      height: auto;
    }
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    padding: 0;
    left: 0;
    right: 0;
    top: -17%;
  }

  @media (min-width: @desktop-width) {
    top: -19%;
  }
}

.product__description-wrapper {
  @media (min-width: @tablet-width) {
    padding-top: 161px;
    padding-bottom: 31px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 162px;
    padding-bottom: 33px;
  }
}

.product__name {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @special_dark-grey-2;
  text-transform: uppercase;
  text-align: left;
  width: 75px;
  margin: 0;
  padding-bottom: 14px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 130px;
    margin: 0 auto;
    padding-bottom: 14px;
  }

  @media (min-width: @desktop-width) {
    line-height: 21px;
    padding-bottom: 18px;
  }
}

.product__description {
  font-size: 12px;
  line-height: 16px;
  font-family: @arial;
  width: 100%;
  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }

  tr {
    @media (min-width: @tablet-width) {
      border-bottom: 1px solid @special_grey;
    }
  }

  td {
    padding: 0;

    &:nth-child(2n) {
      text-align: right;
    }

    @media (min-width: @tablet-width) {
      padding-top: 7px;
      padding-bottom: 8px;
    }
  }
}

.product__wrapper-button {
  padding-top: 12px;

  @media (min-width: @tablet-width) {
    padding-bottom: 40px;
    padding-top: 0;
  }
}

.product__link-to-order {
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
