.program {
  outline: 3px solid rgba(255, 0, 0, 0.8);
  outline-offset: -1px;
}

.wrapper-background-image {
  background-image: url("../img/index-background-cat-mobile.jpg");
  background-repeat: no-repeat;
  color: @basic_white;
  min-height: 302px;
}

.wrapper-background-color {
  background-color: rgba(104, 183, 56, 0.85);
  min-height: 302px;
}

.program__title {
  font-size: 36px;
  line-height: 36px;
  padding-top: 30px;
}

.program__slogan {
  line-height: 14px;
  padding-top: 25px;
  margin: 0;
  text-transform: uppercase;
}
