.program {
  margin: 0 auto;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 316px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 96px;
    padding-bottom: 60px;
    position: inherit;
  }
}

.program__wrapper {
  background-image: url("../img/index-background-program.png"), url("../img/index-background-cat-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  color: @basic_white;
  min-height: 302px;
  background-size: cover;
  margin-bottom: 138px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-program@2x.png"), url("../img/index-background-cat-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: none;
  }

  &::before {
    @media (min-width: @desktop-width) {
      content: "";
      background-image: url("../img/index-background-program-desktop.png"), url("../img/index-background-cat-desktop.jpg");
      background-size: cover;
      width: 50%;
      min-height: 694px;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-background-program-desktop@2x.png"), url("../img/index-background-cat-desktop@2x.jpg");
      }
    }
  }
}

.program__title {
  font-size: 36px;
  line-height: 36px;
  padding-top: 29px;
  font-weight: inherit;
  margin: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: @basic_black;
    max-width: 532px;
    margin: 0 auto;
    padding-top: 0;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    padding-left: 80px;
    margin: 0;
  }
}

.program__slogan {
  line-height: 14px;
  padding-top: 25px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: @basic_black;
    max-width: 532px;
    padding-top: 41px;
    margin: 0 auto;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    padding-left: 80px;
    margin: 0;
  }
}

.program__image {
  text-align: center;
  display: block;
  position: absolute;
  top: 170px;
  right: 0;
  left: 0;

  @media (min-width: @tablet-width) {
    top: 200px;
    right: 0;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    top: 141px;
    left: 230px;
  }
}

.program__link-wrapper {
  @media (min-width: @tablet-width) {
    max-width: 532px;
    margin: 0 auto;
    position: relative;
    bottom: 210px;
    left: -5px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 80px;
    bottom: 208px;
    margin: 0;
    left: 0;
  }
}

.program__link {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 12px;
  padding-bottom: 11px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    margin: 0;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
