.social__list-wrapper {
  border-top: 1px solid @special_grey-9;
  border-bottom: 1px solid @special_grey-9;

  @media (min-width: @tablet-width) {
    border-top: 0;
    border-bottom: 0;
    margin-left: 26px;
  }
}

.social__list {
  list-style: none;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 128px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding-top: 12px;
  }
}

.social__link {
  fill: @special_grey-6;

  &:hover,
  &:focus {
    fill: @basic_green;
  }

  &:active {
    opacity: 0.33;
  }

  &--vkontakte {
    svg {
      @media (min-width: @tablet-width) {
        width: 30px;
        height: 22px;
      }
    }
  }

  &--instagram {
    svg {
      @media (min-width: @tablet-width) {
        width: 23px;
        height: 23px;
      }
    }
  }

  &--facebook {
    stroke: @special_grey-6;

    &:hover,
    &:focus {
      stroke: @basic_green;
    }

    svg {
      @media (min-width: @tablet-width) {
        width: 28px;
        height: 33px;
      }
    }
  }
}
